* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.title {
    font-size: xx-large;
    color: rosybrown;
    text-align: center;
    margin-bottom: 100px;
}

.large-image {
    height: 720px;
    width: 1280px;
}

.small-image {
    height: 500px;
    width: 500px;
}

.details {
    padding-left: 300px;
    font-size: large;
}

input {
    height: 30px;
    width: 200px;
    border: 2px solid rosybrown;
    border-radius: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: bold;
}
